.button {
    display: block;
    font-size: 18px;
    background: #00C78B;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 20px;
    border-radius: 20px;
    line-height: 0px;
}

.wrap {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
